body {
    margin: 0;
    font:normal 75% Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 100vh;
}

@media only screen and (max-width: 780px) {
    body {
        height: 100%;
    }

}
@media only screen and (max-width: 1280px) {
    body {
        height: 100%;
    }

}

canvas {
    display: block;
    vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333 ;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}


.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}


.input-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control, .input-group>.form-control-plaintext {
    position: relative;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    min-width: 0;
    margin-bottom: 0;
}

.preloader{
    z-index: 99999999;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center
}

.preloader .loader {
    position: relative;
    top: calc(40% - 30px)
}


.btn-grad {
    /*background-image: linear-gradient(to right, #00ED7B 0%, #00ED7B22  51%, #00ED7B55  100%);*/
    background-color: #417505;
    /*padding: 15px 45px;*/
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 10px #60381322;
    border-radius: 5px;
    display: block;
    width: 50%;
}

.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fafafa;
    text-decoration: none;
}
.nav-tabs-custom .nav-item .nav-link.active {
    color: #4B2F28;
}
.nav-link:hover{
    color: #fafafa;
}
.nav-tabs-custom .nav-item .nav-link::after {

    background: #4B2F28;

}
.img-fluid{
    width: 50%;
}
.card {
    border: 0px;
}


.card-primary.card-outline {
    border-top: 5px solid #417505;
}